# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Virtual Environment
venv/
env/
ENV/
.env
.venv
env.bak/
venv.bak/
aude-iabu/


# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/
log/

# Local development
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
aude-iabu/bin/activate
aude-iabu/bin/activate.csh
aude-iabu/bin/activate.fish
aude-iabu/bin/Activate.ps1
aude-iabu/bin/chroma
aude-iabu/bin/coloredlogs
aude-iabu/bin/distro
aude-iabu/bin/dotenv
aude-iabu/bin/f2py
aude-iabu/bin/fastapi
aude-iabu/bin/filetype
aude-iabu/bin/gunicorn
aude-iabu/bin/httpx
aude-iabu/bin/huggingface-cli
aude-iabu/bin/humanfriendly
aude-iabu/bin/isympy
aude-iabu/bin/jsondiff
aude-iabu/bin/jsonpatch
aude-iabu/bin/jsonpointer
aude-iabu/bin/markdown-it
aude-iabu/bin/normalizer
aude-iabu/bin/numpy-config
aude-iabu/bin/onnxruntime_test
aude-iabu/bin/opentelemetry-bootstrap
aude-iabu/bin/opentelemetry-instrument
aude-iabu/bin/pip
aude-iabu/bin/pip3
aude-iabu/bin/pip3.11
aude-iabu/bin/pygmentize
aude-iabu/bin/pyproject-build
aude-iabu/bin/pyrsa-decrypt
aude-iabu/bin/pyrsa-encrypt
aude-iabu/bin/pyrsa-keygen
aude-iabu/bin/pyrsa-priv2pub
aude-iabu/bin/pyrsa-sign
aude-iabu/bin/pyrsa-verify
aude-iabu/bin/python
aude-iabu/bin/python3
aude-iabu/bin/python3.11
aude-iabu/bin/tqdm
aude-iabu/bin/typer
aude-iabu/bin/uvicorn
aude-iabu/bin/watchfiles
aude-iabu/bin/websockets
aude-iabu/bin/wsdump
aude-iabu/pyvenv.cfg
aude-iabu/include/site/python3.11/greenlet/greenlet.h
aude-iabu/share/man/man1/isympy.1
